//FONTS
$mainfont: Lato, Arial, Helvetica, sans-serif;
$titlefont: Poppins, Arial, Helvetica, sans-serif;

//COLORS
$bodybckgrcolor:#FFFFFF;
$navbckgrcolor: #082B59;
$navlinkcolor: #f2f2f2;
$bodytxtcolor: #131026;
$bordercolor: #D98555;
$linkhover: #D98555;

//IMAGES
$imgradius: 10px;